.error-message {
    color: white;
    font-size: 1rem;
}


.neon-input{
    margin-bottom: 3rem;
    font-size: 1.0625rem;
    color: white;
    background-color: transparent;
    padding: 0.9375rem 2.625rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #aa59c2, 0 0 20px #aa59c2;
}

.neon-text {
    font-size: 3.125rem;
    color: #7e5988;
    text-shadow: 0 0 6px #6d4b77, 0 0 18px #7f3a92;
    margin-bottom: 1.25rem;
    position: absolute;
    top: 10%;
    letter-spacing: 0.25rem;
}

