<div class="container">
    <button class="button"> <span class="material-symbols-outlined">
        reply
        </span></button>
    <h1 class="neon-text">Bienvenido, {{ username }} 🎮</h1>

    <div *ngIf="testId">
        <h2 class="neon-text">{{ getTestContent().title }}</h2>
        <p class="neon-text">{{ getTestContent().description }}</p>

        <button class="start-test-button" [routerLink]="['/test', testId, 'start']">Comenzar el test</button>
    </div>
    
    <div *ngIf="!testId">
        <p class="neon-text">¡Elige un test para comenzar!</p>

        <div class="button-container">
            <div class="column">
                <button class="neon-button neon-button-lilac" [routerLink]="['/test', 'html']">HTML</button>
                <button class="neon-button neon-button-pink" [routerLink]="['/test', 'css']">CSS</button>
            </div>
            <div class="column">
                <button class="neon-button neon-button-blue" [routerLink]="['/test', 'angular']">ANGULAR</button>
                <button class="neon-button neon-button-peach" [routerLink]="['/test', 'typescript']">TYPESCRIPT</button>
            </div>
        </div>
    </div>
</div>
