.button-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
  }

  .test-selection-h2{
    font-size: 1.8rem;
  }

  .test-selection-description{
    font-size: 1.6rem;
  }

  .test-selection-p{
    font-size: 1.6rem;
  }


  
  .column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  
  .button{
    background: transparent;
    border: 1px solid;
    color: white;
}