<div *ngIf="!testFinished">
    <div class="question">
        <h3 class="neon-text">Pregunta {{ currentQuestionIndex + 1 }} de {{ questions.length }}</h3>
        <p class="neon-text">{{ questions[currentQuestionIndex]?.question }}</p>

        <div *ngFor="let option of questions[currentQuestionIndex]?.options; let i = index">
            <label>
                <input type="radio" name="question{{ currentQuestionIndex }}" [value]="option"
                    (change)="selectAnswer(option)" [checked]="selectedAnswers[currentQuestionIndex] === option" />
                {{ option }}
            </label>
        </div>

        <div class="navigation-buttons">
            <button class="neon-button" (click)="nextQuestion()" 
                [disabled]="!selectedAnswers[currentQuestionIndex]">
                {{ currentQuestionIndex === questions.length - 1 ? 'Finalizar' : 'Siguiente' }}
            </button>
        </div>
    </div>
</div>
