<div *ngIf="questions.length > 0">
    <div class="question">
        <h3 class="neon-text">Pregunta {{ currentQuestionIndex + 1 }} de {{ questions.length }}</h3>
        <p class="neon-text">{{ questions[currentQuestionIndex].question }}</p>

     
        <div *ngFor="let option of questions[currentQuestionIndex].options">
            <label>
                <input 
                    type="radio" 
                    name="question{{ currentQuestionIndex }}" 
                    (change)="selectAnswer(option)" 
                    [checked]="selectedAnswer === option" 
                /> 
                {{ option }}
            </label>
        </div>

        <div class="navigation-buttons">
            <button class="neon-button" (click)="nextQuestion()"
                [disabled]="!selectedAnswer">Siguiente</button>
        </div>
    </div>
</div>
