.question{
    gap: 3rem;
    font-size: 1.5rem;
}

.question-title{
    font-size: 2rem;
}

.question-p{
    font-size: 2.5rem;
}

.question-select{
    font-size: 1.6rem;
    display: inline-grid;
    gap: 1.5rem;
}


.question-button{
        color: #dbd8ce;
        text-shadow: 0 0 10px #dbd8ce, 0 0 20px #dbd8ce;
        transform: none;
        font-size: 1.2rem;
        padding: 1rem 2.5rem;
        margin-top: 6rem;
}

.neon-button:disabled, 
.question-button:disabled {
    opacity: 0.5;  
    cursor: not-allowed;  
    box-shadow: none; 
    text-shadow: none;
    transform: none;
}


input[type="radio"] {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    outline: none;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}

input[type="radio"]:checked { 
    border-color: #584181;
}

input[type="radio"]:not(:checked) {
    background-color: transparent;
}

input[type="radio"]::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ecebe6; 
    transition: all 0.3s ease;
}

input[type="radio"]:checked::after {
    background-color: #673AB7; 
}


.danger {
    color: red;
    font-weight: bold;
}